<!--splash screen-->
<igz-splash-screen data-is-splash-showed="$ctrl.isSplashShowed"></igz-splash-screen>

<!--actions bar-->
<igz-info-page-actions-bar class="igz-component">
    <div class="actions-bar-left">
        <igz-action-panel data-actions="$ctrl.actions"></igz-action-panel>
    </div>
    <div class="actions-bar-right">
        <div class="actions-bar-left actions-buttons-block">
            <button class="new-entity-button"
                    data-ng-click="$ctrl.openNewProjectDialog()"
                    data-igz-capability-enforcer="nuclio-projects.create"
                    data-tooltip="Start by creating a project"
                    data-tooltip-placement="bottom"
                    data-tooltip-append-to-body="true"
                    data-tooltip-popup-delay="100"
                    data-tooltip-class="custom-tooltip">
                Create project
            </button>
        </div>
        <div class="actions-bar-left actions-content-block">
            <div class="igz-action-panel">
                <div class="actions-list">
                    <igz-action-item-refresh data-refresh="$ctrl.refreshProjects()"></igz-action-item-refresh>
                    <ncl-projects-sort-dropdown class="igz-component pull-left"
                                                data-sort-options="$ctrl.sortOptions"
                                                data-update-data-callback="$ctrl.onOptionsChange(newOptions)"
                                                data-tooltip="Sort"
                                                data-tooltip-append-to-body="true"
                                                data-tooltip-placement="bottom"
                                                data-tooltip-popup-delay="1000">
                    </ncl-projects-sort-dropdown>
                </div>
            </div>
        </div>
        <igz-actions-panes data-filters-toggle-method="$ctrl.toggleFilters()"
                           data-filters-counter="$ctrl.filtersCounter"></igz-actions-panes>
    </div>
</igz-info-page-actions-bar>

<!--page content-->
<igz-info-page-content class="igz-component">
    <div id="nuclio-projects-page"
         class="projects nuclio-projects-page">
        <div class="nuclio-table common-table">
            <div class="common-table-header">
                <igz-action-checkbox-all class="common-table-cell check-all-rows"
                                         data-items-count="$ctrl.projects.length">
                </igz-action-checkbox-all>
                <div class="igz-row common-table-cells-container">
                    <div class="igz-col-25 common-table-cell sortable item-name"
                         data-ng-class="$ctrl.isColumnSorted('name', $ctrl.sortedColumnName, $ctrl.isReverseSorting)"
                         data-ng-click="$ctrl.sortTableByColumn('name')">Name
                        <span class="sort-arrow"></span>
                        <div data-igz-resizable-table-column data-col-class="common-table-cell.name"></div>
                    </div>
                    <div class="igz-col-25 common-table-cell sortable description"
                         data-ng-class="$ctrl.isColumnSorted('description', $ctrl.sortedColumnName, $ctrl.isReverseSorting)"
                         data-ng-click="$ctrl.sortTableByColumn('description')">Description
                        <span class="sort-arrow"></span>
                        <div data-igz-resizable-table-column data-col-class="common-table-cell.description"></div>
                    </div>
                    <div class="igz-col-25 common-table-cell sortable created-by"
                         data-ng-class="$ctrl.isColumnSorted('created_by', $ctrl.sortedColumnName, $ctrl.isReverseSorting)"
                         data-ng-click="$ctrl.sortTableByColumn('created_by')">Created by
                        <span class="sort-arrow"></span>
                        <div data-igz-resizable-table-column data-col-class="common-table-cell.created_by"></div>
                    </div>
                    <div class="igz-col-25 common-table-cell sortable created-date"
                         data-ng-class="$ctrl.isColumnSorted('created_date', $ctrl.sortedColumnName, $ctrl.isReverseSorting)"
                         data-ng-click="$ctrl.sortTableByColumn('created_date')">Created date
                        <span class="sort-arrow"></span>
                        <div data-igz-resizable-table-column data-col-class="common-table-cell.created_date"></div>
                    </div>
                </div>
            </div>

            <div class="search-input-not-found"
                 data-ng-if="$ctrl.isProjectsListEmpty()">
                There are currently no projects, you can create a project by clicking the ‘Create Project’ button
            </div>

            <div data-igz-extend-background
                 class="common-table-body">
                <div class="igz-scrollable-container"
                     data-ng-scrollbars
                     data-ng-hide="$ctrl.searchStates.searchNotFound && $ctrl.searchStates.searchInProgress">
                    <div data-ng-repeat="project in $ctrl.projects">
                        <div data-igz-show-hide-search-item="project">
                            <ncl-projects-table-row data-igz-resizable-row-cells
                                                    data-project="project"
                                                    data-projects-list="$ctrl.projects"
                                                    data-action-handler-callback="$ctrl.handleAction(actionType, checkedItems)"></ncl-projects-table-row>
                        </div>
                    </div>

                    <!-- todo pagination -->
                </div>
            </div>
        </div>
    </div>
</igz-info-page-content>

<!--filters-->
<igz-info-page-filters data-is-filters-showed="$ctrl.isFiltersShowed.value"
                       data-apply-filters="$ctrl.onApplyFilters(false)"
                       data-reset-filters="$ctrl.onResetFilters(false)"
                       data-change-state-callback="$ctrl.isFiltersShowed.changeValue(newVal)"
                       data-toggle-method="$ctrl.toggleFilters()">

    <!-- todo -->
    <igz-search-input class="info-page-filters-item igz-component"
                      data-data-set="$ctrl.projects"
                      data-search-keys="$ctrl.searchKeys"
                      data-placeholder="Search projects..."
                      data-search-callback="$ctrl.onChangeSearchQuery(searchQuery)"
                      data-search-states="$ctrl.searchStates">
    </igz-search-input>
</igz-info-page-filters>

