ncl-projects {
    .search-input-not-found {
        height: 48px;
        background-color: @ncl-light-grey;
        border: solid 1px @ncl-pale-grey;
        font-size: 14px;
        color: @ncl-dusk-three;
    }
}