<div class="ncl-monaco">
    <h1>Sample page with monaco-editor</h1>

    <div>
        Code file:
        <select ng-model="selectedCodeFile" ng-options="codeFile.filename for codeFile in codeFiles"></select>
    </div>
    <div>
        Theme:
        <select ng-model="selectedTheme" ng-options="theme for theme in themes"></select>
    </div>
    <h2>Currently editing: {{filename}}</h2>
    <div igz-monaco-editor code-file="selectedCodeFile" editor-theme="selectedTheme" style="width:800px;height:600px;border:1px solid grey"></div>
    <h2>Text area to demonstrate binding</h2>
    <textarea rows="10" cols="80" ng-model="selectedCodeFile.code" />
</div>