*~
*.pyc
venv/
etc/db
etc/docker/crane/volumes
etc/docker/manof/volumes
etc/project/py/.idea/workspace.xml
etc/project/py/.idea/misc.xml
etc/project/py/.idea/vcs.xml
etc/project/py/.idea/dictionaries
etc/project/py/.idea/inspectionProfiles
etc/project/py/.idea/py.iml
etc/project/js/.idea/workspace.xml
etc/project/js/.idea/misc.xml
etc/project/js/.idea/vcs.xml
etc/project/js/.idea/dictionaries
etc/project/js/.idea/inspectionProfiles
etc/project/go/.idea/workspace.xml
etc/project/go/.idea/misc.xml
etc/project/go/.idea/vcs.xml
etc/project/go/.idea/dictionaries
etc/project/go/.idea/libraries/Go_SDK.xml

go/bin/
go/pkg/
go/src/github.com/iguazio/schemas/
go/src/github.com/iguazio/vendor/github.com/alecthomas/gometalinter/vendor/pkg/

go/out/
coverage/
_trial_temp/
pip-selfcheck.json
node_modules/
*.egg-info
.coverage
.ziggy
.idea/*
.DS_Store
.vagrant/
*.log
