<div class="ncl-version-trigger">
    <div class="common-table">
        <div class="common-table-header header-row">
            <div class="common-table-cell header-name">
                Name
            </div>
            <div class="common-table-cell header-class">
                Class
            </div>
            <div class="igz-col-70 common-table-cell">
                Info
            </div>
        </div>

        <div class="common-table-body">
            <div data-igz-extend-background>
                <div class="igz-scrollable-container" data-ng-scrollbars>
                    <ncl-collapsing-row data-ng-repeat="trigger in $ctrl.triggers"
                                        data-item="trigger"
                                        data-action-handler-callback="$ctrl.handleAction(actionType, selectedItem)">
                        <ncl-edit-item class="common-table-cells-container edit-binding-row"
                                       data-item="trigger"
                                       data-type="trigger"
                                       data-on-submit-callback="$ctrl.editTriggerCallback(item)"></ncl-edit-item>
                    </ncl-collapsing-row>
                    <div class="common-table-row create-trigger-button"
                         data-ng-click="$ctrl.createTrigger($event)">
                        <span class="igz-icon-add-round"></span>Create a new trigger
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>