<div class="ncl-projects-sort-dropdown dropdown" data-dropdown
     data-is-open="$ctrl.isOpen">
    <div class="igz-action-item" data-dropdown-toggle>
        <span class="action-icon igz-icon-sort"></span>
    </div>
    <ul class="dropdown-menu dropdown-list">
        <li class="dropdown-menu-item">
            <span class="item-name active-item desc">Name</span>
            <span class="igz-icon-sort-down"></span>
        </li>
        <li class="dropdown-menu-item">
            <span class="item-name">Description</span>
            <span class="igz-icon-sort-up"></span>
        </li>
    </ul>
</div>