<ncl-version data-version="$ctrl.version"
             data-create-version="$ctrl.createFunction(version, projectId, withTimeoutHeader)"
             data-delete-function="$ctrl.deleteFunction(functionData, ignoreValidation)"
             data-get-function="$ctrl.getFunction(metadata, enrichApiGateways)"
             data-get-functions="$ctrl.getFunctions(id, enrichApiGateways)"
             data-project="$ctrl.project"
             data-update-version="$ctrl.updateFunction(version, projectId, withTimeoutHeader)">
</ncl-version>
