<ncl-version data-version="$ctrl.version"
             data-get-project-callback="$ctrl.getProject(id)"
             data-get-function-callback="$ctrl.getFunction(metadata, projectID)"
             data-deploy-version-callback="$ctrl.deployVersion(version, projectID)"
             data-delete-function-event-callback="$ctrl.deleteFunctionEvent(eventData)"
             data-delete-function-callback="$ctrl.deleteFunction(functionData)"
             data-get-function-events-callback="$ctrl.getFunctionEvents(functionData)"
             data-get-external-Ip-addresses-callback="$ctrl.getExternalIPAddresses()"
             data-create-function-event-callback="$ctrl.createFunctionEvent(eventData, isNewEvent)"
             data-invoke-function-callback="$ctrl.invokeFunction(eventData)">
</ncl-version>
