<ncl-version data-version="$ctrl.version"
             data-create-version="$ctrl.createFunction(version, projectID)"
             data-delete-function="$ctrl.deleteFunction(functionData)"
             data-get-project="$ctrl.getProject(id)"
             data-get-function="$ctrl.getFunction(metadata, projectID)"
             data-get-functions="$ctrl.getFunctions(id)"
             data-get-frontend-spec="$ctrl.getFrontendSpec()"
             data-update-version="$ctrl.updateFunction(version, projectID)">
</ncl-version>
