<div class="ncl-version-configuration-data-bindings">
    <div class="title">Data Bindings</div>
    <form name="$ctrl.dataBindingsForm" class="data-bindings-wrapper">

        <div class="ncl-version-binding">
            <div class="common-table">
                <div class="common-table-header item-header">
                    <div class="common-table-cell item-name">
                        Name
                    </div>
                    <div class="common-table-cell item-class">
                        Class
                    </div>
                    <div class="igz-col-70 common-table-cell">
                        Info
                    </div>
                </div>

                <div class="common-table-body">
                    <div class="igz-scrollable-container" data-ng-scrollbars>
                        <ncl-collapsing-row data-ng-repeat="binding in $ctrl.bindings"
                                                    data-item="binding"
                                                    data-action-handler-callback="$ctrl.handleAction(actionType, selectedItem)">
                            <ncl-edit-item class="common-table-cells-container edit-binding-row"
                                           data-item="binding"
                                           data-type="binding"
                                           data-on-submit-callback="$ctrl.editBindingCallback(item)"></ncl-edit-item>
                        </ncl-collapsing-row>
                    </div>
                </div>
            </div>
        </div>
        <div class="create-binding-button"
             data-ng-click="$ctrl.createBinding($event)">
            <span class="igz-icon-add-round"></span>
            Create a new binding
        </div>
    </form>
</div>