<div class="ncl-edit-version">

    <!--actions bar-->
    <igz-info-page-actions-bar class="igz-component border-top">
        <div class="actions-bar-right">
            <div class="actions-bar-left actions-buttons-block actions-dropdown-block">
                <igz-default-dropdown data-select-property-only="id"
                                      data-placeholder="ACTIONS"
                                      data-values-array="$ctrl.actions"
                                      data-selected-item="$ctrl.action"
                                      data-item-select-callback="$ctrl.onSelectAction(item)">
                </igz-default-dropdown>
            </div>
            <div class="actions-bar-left actions-buttons-block">
                <div class="actions-bar-left test-events-dropdown-block">
                    <igz-default-dropdown data-select-property-only="id"
                                          data-placeholder="Select a test event..."
                                          data-values-array="$ctrl.testEvents"
                                          data-selected-item="$ctrl.selectedTestEvent"
                                          data-item-select-callback="$ctrl.onSelectTestEvent(item)">
                    </igz-default-dropdown>
                </div>
                <div class="actions-bar-right">
                        <div class="ncl-grouped-buttons">
                            <button type="button" class="test-version-button"
                                    data-ng-click="$ctrl.runVersionTest()"
                                    data-ng-class="{'disabled' : !$ctrl.selectedTestEvent}">TEST</button>
                            <button type="button" class="test-version-button-arrow dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                <span class="igz-icon-dropdown"></span>
                            </button>
                            <ul class="button-dropdown dropdown-menu">
                                <li>
                                    <a class="icon-font-group" href="#" data-ng-click="$ctrl.createTestEvent()">Create test event</a>
                                </li>
                                <li data-ng-class="{'disabled' : !$ctrl.selectedTestEvent}">
                                    <a class="icon-font-layer" href="#" data-ng-click="$ctrl.editTestEvent()">Edit test event</a>
                                </li>
                            </ul>
                        </div>
                </div>
            </div>
            <div class="actions-bar-left actions-buttons-block">
                <button class="new-entity-button"
                        data-ng-click="$ctrl.deployVersion()"
                        data-tooltip="Deploy a version"
                        data-tooltip-placement="bottom"
                        data-tooltip-append-to-body="true"
                        data-tooltip-popup-delay="100"
                        data-tooltip-class="custom-tooltip">
                    Deploy
                </button>
            </div>
        </div>
    </igz-info-page-actions-bar>
    <ncl-version-execution-result data-ng-if="$ctrl.isTestResultShown"
                                       data-test-result="$ctrl.testResult"
                                       data-toggle-method="$ctrl.toggleTestResult()"></ncl-version-execution-result>
    <ncl-navigation-tabs data-tab-items="$ctrl.navigationTabsConfig"></ncl-navigation-tabs>
    <section class="ncl-edit-version-view" data-igz-extend-background data-ui-view="version"></section>
</div>