<ncl-projects-functions-view data-projects="$ctrl.projects"
                             data-create-function="$ctrl.createFunction(version, projectID)"
                             data-create-project="$ctrl.createProject(project)"
                             data-delete-function="$ctrl.deleteFunction(functionData)"
                             data-delete-project="$ctrl.deleteProject(project)"
                             data-get-function="$ctrl.getFunction(metadata, projectID)"
                             data-get-functions="$ctrl.getFunctions(id)"
                             data-get-project="$ctrl.getProject(id)"
                             data-get-projects="$ctrl.getProjects()"
                             data-get-statistics="$ctrl.getStatistics(metric, from, until, interval)"
                             data-update-function="$ctrl.updateFunction(function, projectID)"
                             data-update-project="$ctrl.updateProject(project)">
</ncl-projects-functions-view>
