<div data-ng-class="{'search-input': $ctrl.searchType === 'infoPage', 'search-input-actions-bar': $ctrl.searchType === 'actionsBar'}">
    <input type="text"
           class="container-search-input"
           placeholder="{{$ctrl.placeholder}}"
           data-ng-keydown="$ctrl.onPressEnter($event)"
           data-igz-input-blur-on-enter
           data-ng-model="$ctrl.searchQuery"
           data-ng-model-options="{ debounce: { 'default': 500, 'blur': 0 } }">
    <span class="igz-icon-search"></span>
    <span class="clear-button igz-icon-close"
          data-ng-show="$ctrl.searchQuery"
          data-ng-click="$ctrl.clearInputField()">
    </span>
</div>
