<div class="close-button igz-icon-close" data-ng-click="$ctrl.onClose()"></div>

<div class="title">
    <span>
        Edit Project
    </span>
</div>

<div class="main-content">
    <form name="editProjectForm" novalidate data-ng-keydown="$ctrl.saveProject($event)">
        <div class="field-group">
            <div class="field-label">
                Project Name
            </div>
            <div class="field-input">
                <div class="error" data-ng-show="$ctrl.isShowFieldInvalidState(editProjectForm, 'name')">
                    The inputs you provided are invalid or incorrect
                </div>
                <div class="error" data-ng-show="$ctrl.nameTakenError">
                    Name already exists
                </div>
                <igz-validating-input-field data-field-type="input"
                                            data-input-name="spec.displayName"
                                            data-input-value="$ctrl.data.spec.displayName"
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-is-focused="true"
                                            data-form-object="editProjectForm"
                                            data-placeholder-text="Project name..."></igz-validating-input-field>
            </div>
        </div>
        <div class="field-group">
            <div class="field-label">
                Description
            </div>
            <div class="field-input">
                <div class="error" data-ng-show="$ctrl.isShowFieldInvalidState(editProjectForm, 'description')">
                    The inputs you provided are invalid or incorrect
                </div>
                <igz-validating-input-field data-field-type="input"
                                            data-input-name="spec.description"
                                            data-input-value="$ctrl.data.spec.description"
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-form-object="editProjectForm"
                                            data-placeholder-text="Description..."></igz-validating-input-field>
            </div>
        </div>
    </form>
</div>

<div class="buttons">
    <div class="secondary-button"
         tabindex="0"
         data-ng-click="$ctrl.onClose()"
         data-ng-keydown="$ctrl.onClose($event)">
        Cancel
    </div>
    <div class="primary-button"
         tabindex="0"
         data-ng-click="$ctrl.saveProject()"
         data-ng-keydown="$ctrl.saveProject($event)"
         data-ng-hide="$ctrl.isLoadingState">
        Apply
    </div>
</div>

<div class="error-text text-centered error-relative"
     data-ng-show="$ctrl.isServerError()">Error: {{$ctrl.serverError}}</div>
