<div class="close-button igz-icon-close" data-ng-click="$ctrl.onClose()"></div>

<div class="title">
    <span>
        New Project
    </span>
</div>

<div class="main-content ">
    <form name="newProjectForm" novalidate data-ng-keydown="$ctrl.createProject($event)">
        <div class="field-group">
            <div class="field-label">
                Project Name
            </div>
            <div class="field-input">
                <div class="error" data-ng-show="$ctrl.isShowFieldInvalidState(newProjectForm, 'spec.displayName')">
                    The inputs you provided are invalid or incorrect
                </div>
                <div class="error" data-ng-show="$ctrl.nameTakenError">
                    Name already exists
                </div>
                <igz-validating-input-field data-field-type="input"
                                            data-input-name="spec.displayName"
                                            data-input-value="$ctrl.data.spec.displayName"
                                            data-is-focused="true"
                                            data-form-object="newProjectForm"
                                            data-validation-is-required="true"
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-validation-pattern="$ctrl.nameValidationPattern"
                                            data-placeholder-text="Type project name..."></igz-validating-input-field>
            </div>
        </div>
        <div class="field-group">
            <div class="field-label">
                Description
            </div>
            <div class="field-input">
                <div class="error" data-ng-show="$ctrl.isShowFieldInvalidState(newProjectForm, 'spec.description')">
                    The inputs you provided are invalid or incorrect
                </div>
                <igz-validating-input-field data-field-type="input"
                                            data-input-name="spec.description"
                                            data-input-value="$ctrl.data.spec.description"
                                            data-form-object="newProjectForm"
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-placeholder-text="Type description..."></igz-validating-input-field>
            </div>
        </div>
        <div class="field-group">
            <div class="field-label">
                Namespace
            </div>
            <div class="field-input">
                <div class="error" data-ng-show="$ctrl.isShowFieldInvalidState(newProjectForm, 'metadata.namespace')">
                    The inputs you provided are invalid or incorrect
                </div>
                <igz-validating-input-field data-field-type="input"
                                            data-input-name="metadata.namespace"
                                            data-input-value="$ctrl.data.metadata.namespace"
                                            data-form-object="newProjectForm"
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-validation-is-required="true"
                                            data-validation-pattern="$ctrl.namespaceValidationPattern"
                                            data-placeholder-text="Type description..."></igz-validating-input-field>
            </div>
        </div>
    </form>
</div>

<div class="buttons">
    <div class="secondary-button"
         tabindex="0"
         data-ng-click="$ctrl.onClose()"
         data-ng-keydown="$ctrl.onClose($event)">
        Cancel
    </div>
    <div class="primary-button"
         tabindex="0"
         data-ng-click="$ctrl.createProject()"
         data-ng-keydown="$ctrl.createProject($event)"
         data-ng-hide="$ctrl.isLoadingState">
        Create
    </div>
</div>

<div class="error-text text-centered error-relative"
     data-ng-show="$ctrl.isServerError()">Error: {{$ctrl.serverError}}</div>
