.primary-button {
    color: @ncl-white;
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    font-weight: 500;
    text-transform: uppercase;
    padding: 8px 17px;
    margin-left: 9px;
    height: 32px;
    line-height: initial;
    border-radius: 2px;
    background-color: @ncl-orange;
    border: solid 1px @ncl-orange;

    &:hover {
        background-color: @ncl-dark-orange;
        border: solid 1px @ncl-dark-orange;
    }

    &.disabled {
        display: none;
    }
}

.secondary-button {
    font-size: 12px;
    font-weight: 500;
    display: inline-block;
    vertical-align: top;
    position: relative;
    color: @ncl-greyish-purple;
    text-transform: uppercase;
    line-height: initial;
    height: 32px;
    background-color: transparent;
    border: none;
    padding: 9px 17px;

    &:hover {
        .nclBlack(0.13);
        box-shadow: 0 1px 3px 0 @color;
        border: solid 1px @ncl-pale-grey;
        border-radius: 2px;
        background-color: @ncl-white;
        padding: 8px 16px;
    }

    &:active {
        .nclBlack(0.1);
        box-shadow: inset 0 2px 3px 0 @color;
        border: solid 1px @ncl-silver;
        outline: none;
        border-radius: 2px;
        background-color: @ncl-white;
        padding: 8px 16px;
    }
}

.btn-close {
    .nclDuskThree(0.64);
    color: @color;
    right: 0;
    position: absolute;
    margin-top: 6px;
    margin-right: 24px;
    font-size: 14px;
    line-height: 14px;
    z-index: 11;

    &:hover {
        .nclDuskThree(1);
        color: @color;
    }
}

.new-entity-button {
    color: @ncl-white;
    font-size: 13px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    padding: 10px 24px;
    height: 36px;
    line-height: initial;
    border-radius: 2px;
    border: none;
    background-color: @ncl-dark-orange;
    outline: none;

    &:hover {
        background-color: @ncl-orange;
    }

    &.disabled {
        display: none;
    }
}