.rem-calc(@sizeValue) {
    @remValue: (@sizeValue / 10);
}

.vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
