//== Colours

// main
@ncl-green-aquamarine: #21d4ac;
@ncl-light-green: #f1f9f5;
@ncl-blue: #28afe4;
@ncl-light-blue: #41baea;
@ncl-light-blue-two: #3fbced;
@ncl-light-blue-three: #f2fafe;
@ncl-dark-sky-blue: #28afe4;
@ncl-lightblue: #4dc4f3;
@ncl-bluish: #239bca;
@ncl-white: #ffffff;
@ncl-light-grey: #f7f7fa;
@ncl-light-grey-two: #f1f6fa;
@ncl-border-color: #e6ebf1;
@ncl-pale-grey: #e1e0e5;
@ncl-pale-grey-two: #edecef;
@ncl-pale-grey-three: #f3f3f6;
@ncl-silver: #c9c9cd;
@ncl-grey: #acaab3;
@ncl-greyish-purple: #898593;
@ncl-dusk-three: #474056;
@ncl-black: #000000;
@ncl-orangish: #f9794f;
@ncl-dark-orange: #ef7a51;
@ncl-pale-orange: #fdbc5a;
@ncl-orange: #fa9153;
@ncl-orange-two: #fa8f53;
@ncl-darkish-pink: #e54158;

// icons
@ncl-icon-base: #4b6c8b;

.nclOrange(@alpha) {
    @color: rgba(250, 143, 83, @alpha);
}

.nclDarkOrange(@alpha) {
    @color: rgba(239, 122, 81, @alpha);
}

.nclDuskThree(@alpha) {
    @color: rgba(71, 64, 86, @alpha);
}

.nclGreyishPurple(@alpha) {
    @color: rgba(137, 133, 147, @alpha);
}

.nclSilver(@alpha) {
    @color: rgba(201, 201, 205, @alpha);
}

.nclPaleGrey(@alpha) {
    @color: rgba(225, 224, 229, @alpha);
}

.nclPaleGreyTwo(@alpha) {
    @color: rgba(237, 236, 239, @alpha);
}

.nclWhite(@alpha) {
    @color: rgba(255, 255, 255, @alpha);
}

.nclBlack(@alpha) {
    @color: rgba(0, 0, 0, @alpha);
}

.nclOrangish(@alpha) {
    @color: rgba(249, 121, 79, @alpha);
}

.nclPaleOrange(@alpha) {
    @color: rgba(253, 188, 90, @alpha);
}

.nclDarkishPink(@alpha) {
    @color: rgba(229, 65, 88, @alpha);
}

.nclLightBlue(@alpha) {
    @color: rgba(65, 186, 234, @alpha);
}
