//== Colours

// main
@dark-sky-blue: #28afe4;
@bluish: #239bca;
@lightblue: #4dc4f3;
@light-blue: #41baea;
@light-blue-two: #3fbced;
@light-blue-three: #f2fafe;
@blue-grey: #4d5978;
@dark-blue-grey: #101833;
@fiord: #3f4c6b;
@dusk: #3f4b6a;
@dusk-two: #495a81;
@dusty-blue: #657cb2;
@greyblue: #8c9dc5;
@light-grey-blue: #96a8d3;
@dusk-three: #474056;
@greyish-purple: #898593;
@cool-grey: #acaab3;
@silver: #c9c9cd;
@light-grey: #f7f7fa;
@light-grey-two: #f1f6fa;
@light-grey-three: #e0e0e0;
@light-grayish-blue: #f2f2f5;
@pale-grey: #e1e0e5;
@pale-grey-two: #edecef;
@pale-grey-three: #f3f3f6;
@pale-white: #f2f2f6;
@white: #ffffff;
@solid-grey: #a9a9a9;
@dark-grey: #0a0a0a;
@black: #000000;

// alert colours
@darkish-pink: #e54158;
@sunflower-yellow: #f7dd00;
@tealish: #21d4ac;
@light-green: #f1f9f5;
@cloudy-blue: #a8c6dc;

// chart colours
@tiffany-blue: #83dfe9;
@orangish: #f9794f;
@dark-orange: #ef7a51;
@orange: #fa9153;
@pale-orange: #fdbc5a;
@dark-greyish-blue: #9997a0;
@french-blue: #4a69ab;
@greyish-blue: #a0c3dc;
@cerulean-blue: #2b5cc5;

// NOT in standard palette
@slider-bar: #dedce1;
@vs-dark: #1e1e1e;

@alabaster: #f7f7f7;
@alabaster-two: #fbfbfb;
@alice-blue: #f3fbff;
@alto: #d9d9d9;
@alto-two: #dedede;
@alto-three: #dddddd;
@alto-four: #d7d7d7;
@anakiwa: #7ee3fe;
@athens-gray: #f1f0f2;
@athens-gray-two: #efeff0;
@athens-gray-three: #f5f5f8;
@bismark: #4b6c8b;
@botticelli: #dce2ef;
@boston-blue: #3d96ae;
@botticelli: #dce2ef;
@bright-turquoise: #00c9ff;
@bright-turquoise-two: #03c8ff;
@burnt-sienna: #ea674d;
@cadet-blue: #aab6c1;
@casablanca: #f7bf48;
@catskill-white: #f8fafc;
@catskill-white-two: #f9fafc;
@cerise-red: #e4365f;
@cerulean: #01b7e7;
@chelsea-cucumber: #89a54e;
@chenin: #e1d97f;
@cherub: #fbe5e8;
@cornflower-blue: #668ef1;
@cream-can: #f6cb5a;
@deep-blush: #e27182;
@deep-blush-two: #e17082;
@dodger-blue: #3bd6ff;
@dove-gray: #727272;
@east-bay: #3d5b77;
@ebony-clay: #252d36;
@fire-bush: #e49836;
@foam: #eff9fd;
@fountain-blue: #53bdb3;
@fountain-blue-two: #54bdb5;
@gallery: #ebebeb;
@gallery-two: #ececec;
@gallery-three: #f0f0f0;
@geyser: #dde2e6;
@glacier: #7ea1c1;
@gray: #808080;
@gray-chateau: #9aa2ae;
@hippie-blue: #6492b7;
@hopbush: #c669a7;
@horizon: #5982a2;
@horizon-two: #5a83a3;
@horizon-three: #5a82a2;
@horizon-four: #5d81a1;
@iron: #d7dbdc;
@kimberly: #80699b;
@limed-spruce: #37424e;
@loblolly: #b2bfc8;
@loblolly-two: #c7d0d8;
@loblolly-three: #c2cbd3;
@lynch: #61798f;
@malachite: #16e07a;
@malibu: #61d9f9;
@manatee: #94959a;
@mercury: #e1e1e1;
@mercury-two: #e6e6e6;
@mine-shaft: #222222;
@mischka: #dbdadf;
@moss-green: #a4d6ab;
@mountain-mist: #918c9a;
@mountain-mist-two: #94909d;
@mountain-meadow: #1dbd99;
@mystic: #e7edf0;
@mystic-two: #e6ebf1;
@outer-space: #2d3640;
@oslo-gray: #919499;
@pastel-green: #7fe165;
@perano: #a5cdf1;
@pharlap: #a47d7c;
@picton-blue: #3dc9e7;
@picton-blue-two: #3ec9e8;
@pigeon-post: #b2c7da;
@pine-glade: #b5ca92;
@polo-blue: #92a8cd;
@red: #ff0000;
@red-berry: #910000;
@red-damask: #db843d;
@san-juan: #37516a;
@shuttle-gray: #616870;
@silver-chalice: #9d9d9d;
@silver-chalice-two: #b2b2b2;
@silver-two: #cccccc;
@silver-three: #c7c7c7;
@silver-sand: #b9bec4;
@spindle: #b7bdee;
@spindle-two: #accbea;
@topaz: #8a8694;
@tuna: #3c3649;
@tundora: #444444;
@tropical-blue: #c1e8f7;
@valencia: #d73d53;
@viking: #52ded3;
@wild-sand: #f5f5f5;
@wild-blue-yonder: #798bb4;
@white-two: #fdfdfd;
@whisper: #f8f8fb;
@ziggurat: #becfdf;

.ebonyClay(@alpha) {
    @color: rgba(37, 45, 54, @alpha);
}

.mountainMist(@alpha) {
    @color: rgba(145, 140, 154, @alpha);
}

.red(@alpha) {
    @color: rgba(255, 0, 0, @alpha);
}

.darkSkyBlue(@alpha) {
    @color: rgba(40, 175, 228, @alpha);
}

.lightblue(@alpha) {
    @color: rgba(77, 196, 243, @alpha);
}

.bluish(@alpha) {
    @color: rgba(35, 155, 202, @alpha);
}

.darkBlueGrey(@alpha) {
    @color: rgba(16, 24, 51, @alpha);
}

.dusk(@alpha) {
    @color: rgba(63, 75, 106, @alpha);
}

.duskTwo(@alpha) {
    @color: rgba(73, 90, 129, @alpha);
}

.dustyBlue(@alpha) {
    @color: rgba(101, 124, 178, @alpha);
}

.greyblue(@alpha) {
    @color: rgba(140, 157, 197, @alpha);
}

.lightGreyBlue(@alpha) {
    @color: rgba(150, 168, 211, @alpha);
}

.duskThree(@alpha) {
    @color: rgba(71, 64, 86, @alpha);
}

.greyishPurple(@alpha) {
    @color: rgba(137, 133, 147, @alpha);
}

.coolGrey(@alpha) {
    @color: rgba(172, 170, 179, @alpha);
}

.silver(@alpha) {
    @color: rgba(201, 201, 205, @alpha);
}

.paleGreyTwo(@alpha) {
    @color: rgba(237, 236, 239, @alpha);
}

.paleGreyThree(@alpha) {
    @color: rgba(243, 243, 246, @alpha);
}

.paleWhite(@alpha) {
    @color: rgba(242, 242, 242, @alpha);
}

.white(@alpha) {
    @color: rgba(255, 255, 255, @alpha);
}

.darkishPink(@alpha) {
    @color: rgba(229, 65, 88, @alpha);
}

.sunflowerYellow(@alpha) {
    @color: rgba(247, 221, 0, @alpha);
}

.tealish(@alpha) {
    @color: rgba(33, 212, 172, @alpha);
}

.tiffanyBlue(@alpha) {
    @color: rgba(131, 223, 233, @alpha);
}

.orangish(@alpha) {
    @color: rgba(249, 121, 79, @alpha);
}

.paleOrange(@alpha) {
    @color: rgba(253, 188, 90, @alpha);
}

.frenchBlue(@alpha) {
    @color: rgba(74, 105, 171, @alpha);
}

.greyishBlue(@alpha) {
    @color: rgba(168, 198, 220, @alpha);
}

.orange(@alpha) {
    @color: rgba(250, 143, 83, @alpha);
}

.darkOrange(@alpha) {
    @color: rgba(239, 122, 81, @alpha);
}

.paleGrey(@alpha) {
    @color: rgba(225, 224, 229, @alpha);
}

.black(@alpha) {
    @color: rgba(0, 0, 0, @alpha);
}

.lightBlue(@alpha) {
    @color: rgba(65, 186, 234, @alpha);
}
