/**
 * Open Sans font
 */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'),
    url('../fonts/open-sans/open-sans-v13-latin-ext-regular.woff2') format('woff2'),
    url('../fonts/open-sans/open-sans-v13-latin-ext-regular.woff') format('woff');
}

/**
 * Source Code Pro font
 */
@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Code Pro'), local('SourceCodePro-Regular'),
    url('../fonts/source-code-pro/SourceCodePro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 600;
    src: local('Source Code Pro Semibold'), local('SourceCodePro-Semibold'),
    url('../fonts/source-code-pro/SourceCodePro-Semibold.ttf') format('truetype');
}

/**
 * Roboto font
 */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Light'), local('Roboto-Light'),
    url('../fonts/roboto/roboto-v15-greek-ext_cyrillic-ext_greek_latin-ext_latin_cyrillic-300.woff2') format('woff2'),
    url('../fonts/roboto/roboto-v15-greek-ext_cyrillic-ext_greek_latin-ext_latin_cyrillic-300.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto/roboto-v15-greek-ext_cyrillic-ext_greek_latin-ext_latin_cyrillic-regular.woff2') format('woff2'),
    url('../fonts/roboto/roboto-v15-greek-ext_cyrillic-ext_greek_latin-ext_latin_cyrillic-regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'),
    url('../fonts/roboto/roboto-v15-greek-ext_cyrillic-ext_greek_latin-ext_latin_cyrillic-700.woff2') format('woff2'),
    url('../fonts/roboto/roboto-v15-greek-ext_cyrillic-ext_greek_latin-ext_latin_cyrillic-700.woff') format('woff');
}

/**
 * Iguazio font (svg icons)
 */
@font-face {
    font-family: 'iguazio';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/iguazio.eot?-dnicbw');
    src: url('../fonts/iguazio.eot?#iefix-dnicbw') format('embedded-opentype'),
    url('../fonts/iguazio.woff?-dnicbw') format('woff'),
    url('../fonts/iguazio.ttf?-dnicbw') format('truetype'),
    url('../fonts/iguazio.svg?-dnicbw#icomoon') format('svg');
}