<div class="ncl-version-configuration-basic-settings">
    <div class="title">Basic Settings</div>
    <form name="$ctrl.basicSettingsForm" class="basic-settings-wrapper">
        <div class="row enable-checkbox">
            <input type="checkbox" class="small" id="enable" data-ng-model="$ctrl.enableEdit">
            <label for="enable" class="checkbox-inline">Enabled</label>
        </div>
        <div class="row">
            <div class="namespace-block">
                <div class="label">
                    Namespace
                </div>
                <igz-validating-input-field data-field-type="input"
                                            data-input-name="namespace"
                                            data-input-value="$ctrl.version.metadata.namespace"
                                            data-is-focused="false"
                                            data-is-disabled="!$ctrl.enableEdit"
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="metadata.namespace"
                                            data-form-object="$ctrl.basicSettingsForm"
                                            data-placeholder-text="Type a namespace..."></igz-validating-input-field>
            </div>
            <div class="timeout-block">
                <div class="label">
                    <div class="timeout-checkbox">
                        <input type="checkbox" class="small" id="timeout" data-ng-model="$ctrl.enableTimeout">
                        <label for="timeout" class="checkbox-inline">Timeout</label>
                    </div>
                </div>
                <div class="timeout-values">
                    <div class="inputs">
                        <igz-validating-input-field data-field-type="input"
                                                    data-input-name="min"
                                                    data-input-value="$ctrl.timeout.min"
                                                    data-is-focused="false"
                                                    data-is-disabled="!$ctrl.enableTimeout"
                                                    data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                                    data-update-data-field="timeout.min"
                                                    data-form-object="$ctrl.basicSettingsForm"
                                                    data-placeholder-text="Min..."></igz-validating-input-field>
                        <div class="values-label">
                            min
                        </div>
                        <igz-validating-input-field data-field-type="input"
                                                    data-input-name="sec"
                                                    data-input-value="$ctrl.timeout.sec"
                                                    data-is-focused="false"
                                                    data-is-disabled="!$ctrl.enableTimeout"
                                                    data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                                    data-update-data-field="timeout.sec"
                                                    data-form-object="$ctrl.basicSettingsForm"
                                                    data-placeholder-text="Sec..."></igz-validating-input-field>
                        <div class="values-label">
                            sec
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="description-block">
                <div class="label">
                    Description
                </div>
                <igz-validating-input-field data-field-type="input"
                                            data-input-name="description"
                                            data-input-value="$ctrl.version.spec.description"
                                            data-is-focused="false"
                                            data-is-disabled="!$ctrl.enableEdit"
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="spec.description"
                                            data-form-object="$ctrl.basicSettingsForm"
                                            data-placeholder-text="Type description..."></igz-validating-input-field>
            </div>
        </div>
    </form>
</div>