<div class="igz-action-panel"
     data-igz-right-click
     data-ng-show="$ctrl.isActionPanelShown()">
    <div class="actions-list clearfix"
         data-ng-show="$ctrl.mainActions.length > 0 || $ctrl.remainingActions.length > 0">
        <igz-action-item data-ng-repeat="action in $ctrl.mainActions" data-action="action">
        </igz-action-item>
        <igz-action-item-more data-ng-if="$ctrl.remainingActions.length !== 0" data-actions="$ctrl.remainingActions">
            <div class="transclude-container" data-ng-transclude></div>
        </igz-action-item-more>
    </div>
    <div class="actions-list empty"
         data-ng-show="$ctrl.mainActions.length === 0 && $ctrl.remainingActions.length === 0">
        (No actions)
    </div>
</div>
