<div class="ncl-edit-item" data-ng-keydown="$ctrl.onSubmitForm($event)">
    <form name="editItemForm"
          novalidate
          autocomplete="off">
        <div class="igz-row title-field-row">
            <div class="igz-col-20 name-field">
                <igz-validating-input-field data-field-type="input"
                                            data-input-name="itemName"
                                            data-input-value="$ctrl.item.name"
                                            data-is-focused="false"
                                            data-form-object="editItemForm"
                                            data-validation-is-required="true"
                                            data-placeholder-text="Type name..."
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="name">
                </igz-validating-input-field>
            </div>
            <div class="igz-col-12-5 class-field">
                <igz-default-dropdown data-select-property-only="id"
                                      data-placeholder="Select class..."
                                      data-values-array="$ctrl.classList"
                                      data-selected-item="$ctrl.item.kind"
                                      data-item-select-callback="$ctrl.onSelectClass(item)">
                </igz-default-dropdown>
            </div>
            <div class="igz-col-65"></div>
        </div>

        <div class="igz-row">
            <div class="igz-col-100 no-class-selected"
                 data-ng-if="!$ctrl.isClassSelected()">Please select a class
            </div>
            <div class="igz-col-45 attribute-field"
                 data-ng-if="$ctrl.isClassSelected()">
                <div class="field-label">URL</div>
                <igz-validating-input-field data-field-type="input"
                                            data-input-name="itemURL"
                                            data-input-value="$ctrl.item.url"
                                            data-is-focused="false"
                                            data-form-object="editItemForm"
                                            data-validation-is-required="true"
                                            data-placeholder-text="Type URL..."
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="url">
                </igz-validating-input-field>
            </div>
            <div class="igz-col-45 attribute-field"
                 data-ng-if="$ctrl.isClassSelected()"
                 data-ng-repeat="attribute in $ctrl.selectedClass.attributes">
                <div class="field-label">{{attribute.name}}</div>
                <igz-validating-input-field data-field-type="input"
                                            data-input-name="item_{{attribute.name}}"
                                            data-input-value="$ctrl.getAttrValue(attribute.name)"
                                            data-is-focused="false"
                                            data-form-object="editItemForm"
                                            data-validation-is-required="true"
                                            data-placeholder-text="Type {{attribute.name}}..."
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="attributes.{{attribute.name}}">
                </igz-validating-input-field>
            </div>
        </div>
    </form>
</div>