<div class="projects-welcome-page">
    <div class="create-new-project">
        <div class="header">Get started with your project.</div>
        <div class="description">
            Write from scratch or use an example repository to build
            an event driven application project.
        </div>
        <div class="welcome-icon">
            <div class="ellipse">
                <div class="shape"></div>
                <div class="shape-shadow"></div>
            </div>
        </div>
        <div class="new-entity-button" data-ng-click="$ctrl.openNewProjectDialog()">Create project</div>
    </div>
</div>