<div class="ncl-projects-table-row common-table-row">
    <div class="common-table-cell check-row">
        <igz-action-checkbox data-item="$ctrl.project"></igz-action-checkbox>
    </div>
    <div class="igz-row common-table-cells-container inactive-state"
         data-ng-click="$ctrl.showDetails($event)">
        <div class="igz-col-25 common-table-cell name">
            {{$ctrl.project.spec.displayName}}
        </div>
        <div class="igz-col-25 common-table-cell description">
            {{$ctrl.project.spec.description}}
        </div>
        <div class="igz-col-25 common-table-cell created-by">
            {{$ctrl.project.spec.created_by}}
        </div>
        <div class="igz-col-25 common-table-cell created-date">
            {{$ctrl.project.spec.created_date | date: 'MMM dd, yyyy'}}
        </div>
    </div>
</div>