/* Reset, normalize, basics */
html {
    height: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
*, *::before, *::after {
    -webkit-box-sizing: inherit;
       -moz-box-sizing: inherit;
            box-sizing: inherit;
}
body {
    margin: 0;
    height: 100%;
    background-color: #fff;
    font-size: 14px;
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}
pre {
    margin: 0;
}
ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
}

/* Useful layout utilities */
.nowrap {
    white-space: nowrap;
}
.space-between {
    display: flex;
    flex-flow: row nowrap;
    align-content: flex-start;
    align-items: center;
    justify-content: space-between;
}
.text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.wrap-around {
    overflow: hidden;
    white-space: normal;
    overflow-wrap: break-word;
}

/* pane splitter */
.split {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    overflow-y: auto;
    overflow-x: hidden;
}
.gutter {
    position: relative;
    background-color: #d2d2d2;
    background-repeat: no-repeat;
    background-position: 50%;
    z-index: 100;
}
.gutter:hover {
    background-color: #dbdbdb;
}
.gutter.gutter-vertical {
    cursor: row-resize;
}
.gutter.gutter-vertical:hover {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
}
.gutter.gutter-horizontal {
    cursor: col-resize;
}
.gutter.gutter-horizontal:hover {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}
.split.split-horizontal, .gutter.gutter-horizontal {
    height: 100%;
    float: left;
}
.collapse-handle {
    position: absolute;
    z-index: 900;
}
.collapse-handle.right {
    top: calc(50% - 10px);
    left: 0;
}
.collapse-handle.right.collapsed {
    top: calc(50% - 10px);
    left: -3px;
}
.collapse-handle.left {
    top: calc(50% - 10px);
    right: 1px;
}
.collapse-handle.left.collapsed {
    top: calc(50% - 10px);
    right: 10px;
}
.collapse-handle.up {
    top: 5px;
    left: calc(50% - 10px);
}
.collapse-handle.up.collapsed {
    top: 15px;
    left: calc(50% - 10px);
}
.collapse-handle.down {
    top: -3px;
    left: calc(50% - 10px);
}
.collapse-handle.down.collapsed {
    top: -11px;
    left: calc(50% - 10px);
}
.collapse-handle::before {
    content: '';
    display: inline-block;
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    background-color: #ccc;
    margin: 0;
    cursor: pointer;
}
.collapse-handle.right::before, .collapse-handle.left.collapsed::before {
    content: '\25B8';
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 0 2px 0 0;
}
.collapse-handle.left::before, .collapse-handle.right.collapsed::before {
    content: '\25B8';
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 0 2px 0 0;
    transform: scaleX(-1);
}
.collapse-handle.up::before, .collapse-handle.down.collapsed::before {
    content: '\25BE';
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 0 2px 0 2px;
    transform: scaleY(-1);
}
.collapse-handle.down::before, .collapse-handle.up.collapsed::before {
    content: '\25BE';
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 0 2px 0 2px;
}

/* Recurring components */
::-webkit-input-placeholder { /* Chrome */
    color: #ccc;
    font-weight: 300;
    transition: opacity 250ms ease-in-out;
}
:focus::-webkit-input-placeholder {
    opacity: 0.5;
    font-weight: 300;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #ccc;
    font-weight: 300;
    transition: opacity 250ms ease-in-out;
}
:focus:-ms-input-placeholder {
    opacity: 0.5;
    font-weight: 300;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #ccc;
    font-weight: 300;
    opacity: 1;
    transition: opacity 250ms ease-in-out;
}
:focus::-moz-placeholder {
    opacity: 0.5;
    font-weight: 300;
}
:-moz-placeholder { /* Firefox 4 - 18 */
    color: #ccc;
    font-weight: 300;
    opacity: 1;
    transition: opacity 250ms ease-in-out;
}
:focus:-moz-placeholder {
    opacity: 0.5;
    font-weight: 300;
}
.button {
    color: #fff;
    background-color: #28afe4;
    border: 1px solid #28afe4;
    border-radius: 4px;
    display: inline-block;
    padding: 6px 15px;
    margin-bottom: 0;
    font-family: inherit;
    font-size: small;
    font-weight: 300;
    line-height: 1.3;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    outline: 0;
}
.button:hover {
    color: #fff;
    background-color: #239bca;
    border-color: #269abc;
    text-decoration: none;
    outline: 0;
}
.button:active {
    color: #fff;
    background-color: #239bca;
    border-color: #269abc;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    outline: 0;
}
.button:focus {
    background-color: #28afe4;
    border-color: #1b6d85;
    outline: 0;
}
.button:disabled {
    border-color: rgba(85, 85, 85, 0.5);
    color: rgba(85, 85, 85, 0.5);
    background-color: rgba(237, 236, 239, 0.6);
    cursor: not-allowed;
}
.button.only-text, .button.only-text:hover, .button.only-text:active, .button.only-text:focus,
.button.only-text:disabled {
    background-color: transparent;
    border: 0 none transparent;
    box-shadow: none;
    padding: 6px;
}
.button.only-text:hover {
    color: #c2c2c2;
}
.button.only-text:active {
    color: #a2a2a2;
}
.button.grey {
    color: #fff;
    background-color: #becdd4;
    border-color: #becdd4;
}
.button.grey:hover {
    background-color: #a1adb3;
    border-color: #a1adb3;
}
.button.grey:focus {
    background-color: #becdd4;
    border-color: #8a9499;
}
.button.grey:active {
    border-color: #becdd4;
}
.button.blue {
    color: #fff;
    background-color: #2298d4;
    border-color: #2298d4;
}
.button.blue:hover {
    background-color: #1e81b3;
    border-color: #1e81b3;
}
.button.blue:focus {
    background-color: #2298d4;
    border-color: #186e99;
}
.button.blue:active {
    border-color: #2298d4;
}
.button.green {
    color: #fff;
    background-color: #21d4ac;
    border-color: #21d4ac;
}
.button.green:hover {
    background-color: #1db390;
    border-color: #1db390;
}
.button.green:focus {
    background-color: #21d4ac;
    border-color: #18997b;
}
.button.green:active {
    border-color: #21d4ac;
}
.button.red {
    color: #fff;
    background-color: #e54158;
    border-color: #e54158;
}
.button.red:hover {
    background-color: #d73d53;
    border-color: #d73d53;
}
.button.red:focus {
    background-color: #e54158;
    border-color: #992c3d;
}
.button.red:active {
    border-color: #e54158;
}
.text-input {
    display: inline-block;
    width: auto;
    height: 30px;
    padding: 5px 10px;
    font-family: inherit;
    font-size: small;
    font-weight: 300;
    line-height: 1.3;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.text-input:focus {
    border-color: #1b6d85;
    outline: 0;
}
.text-input:disabled {
    border-color: #e1e0e5;
    color: rgba(85, 85, 153, 0.6);
    background-color: rgba(237, 236, 239, 0.6);
    cursor: not-allowed;
}
.text-input:focus:invalid {
    background-color: #fce5e8;
    border-color: #e54158;
}
.textarea {
    display: inline-block;
    padding: 3px 5px;
    font-family: monospace;
    font-size: small;
    line-height: 1.3;
    vertical-align: top;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    resize: none;
}
.textarea:focus {
    outline: 0;
}
.textarea:disabled {
    color: rgba(85, 85, 153, 0.6);
    background-color: rgba(237, 236, 239, 0.6);
    cursor: not-allowed;
}
.dropdown {
    display: inline-block;
    width: auto;
    height: 30px;
    font-family: inherit;
    font-size: small;
    font-weight: 300;
    line-height: 1.3;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.dropdown:focus {
    border-color: #1b6d85;
    outline: 0;
}
.dropdown:disabled {
    border-color: #e1e0e5;
    color: rgba(85, 85, 153, 0.6);
    background-color: rgba(237, 236, 239, 0.6);
    cursor: not-allowed;
}
.block {
    display: inline-block;
    position: relative;
    margin: 6px;
    padding: 15px 15px 10px;
    background-color: #fff;
    border: 2px solid #edecef;
    vertical-align: top;
    min-width: 250px;
    overflow: hidden;
    white-space: normal;
    overflow-wrap: break-word;
}
.block .text-input, .block .dropdown{
    width: 100%;
}

/* Global container */
#container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
}

/* Toaster */
#toast {
    position: absolute;
    display: inline-block;
    padding: 7px 15px;
    bottom: 10px;
    right: 10px;
    border-radius: 3px;
    z-index: 999;
}
#toast::first-letter {
    text-transform: uppercase;
}
#toast:not(::first-letter) {
    text-transform: lowercase;
}
#toast.success {
    background-color: hsla(115, 50%, 80%, 1);
    border: 2px solid hsla(115, 60%, 40%, 1);
    color: hsla(115, 60%, 40%, 1);
}

#toast.error {
    background-color: hsla(0, 50%, 80%, 1);
    border: 2px solid hsla(0, 60%, 40%, 1);
    color: hsla(0, 60%, 40%, 1);
}

/* Key-value pairs input */
.add-new-pair-form {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 5px;
}
.add-new-pair-form .space-between {
    align-items: flex-start;
}
.add-new-pair-form .text-input {
    width: 100%;
}
.new-pair-actions {
    margin-top: 5px;
    text-align: right;
}
.pair-list {
    margin: 5px 0;
}
.pair-list > li {
    font-size: small;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px 0;
}
.pair-list > li:last-child {
    border-bottom: 0 none transparent;
}
.pair-action {
    padding: 0;
    width: 30px;
    height: 30px;
    font-size: large;
    line-height: 30px;
}
.add-pair-apply-button {
    font-size: small;
}
.remove-pair-button, .add-pair-cancel-button {
    line-height: 24px;
}
.pair-list-item .remove-pair-button {
    visibility: hidden;
}
.pair-list-item:hover .remove-pair-button {
    visibility: visible;
}
.new-key, .new-value {
    vertical-align: middle;
}
.new-key {
    margin-right: 15px;
    flex: 1 calc(35% - 30px);
}
.new-value {
    flex: 1 65%;
}
.pair-key, .pair-value {
    display: inline-block;
    margin-right: 15px;
    padding-left: 3px;
    text-align: left;
    vertical-align: middle;
    cursor: pointer;
}
.pair-key {
    flex: calc(35% - 15px);
}
.pair-value {
    flex: calc(65% - 15px);
}
.pair-list > .headers .pair-key, .pair-list > .headers .pair-value {
    font-weight: 500;
    cursor: default;
}
.pair-list > .headers .pair-key::first-letter, .pair-list > .headers .pair-value::first-letter {
    text-transform: uppercase;
}
.pair-list > .headers .pair-key:not(::first-letter), .pair-list > .headers .pair-value:not(::first-letter) {
    text-transform: lowercase;
}
.new-value .custom-key-value-list,
.new-value .custom-key-value-list li:not(:last-child),
.new-value .custom-key-value-list ~ ul li:not(:last-child),
.new-value .custom-key-value-list ~ ul {
    margin-bottom: 10px;
}

/* Top bar */
#top-bar {
    background: #101833; /* Old browsers */
    background: -moz-linear-gradient(left, #101833 30%, #495a81 45%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #101833 30%,#495a81 45%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #101833 30%,#495a81 45%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#101833', endColorstr='#495a81', GradientType=1 ); /* IE6-9 */
    height: 50px;
    position: relative;
    box-shadow: inset 2px 2px 5px rgba(0,0,0,0.15);
}
#logo {
    flex: 0 0 10%;
    background-image: url('images/nuclio-logo-white-text-small.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    height: 80%;
    margin-left: 15px;
}
#functions {
    flex: 0 0 35%;
}
#functions h2 {
    display: inline-block;
    color: #f2f2f2;
    font-size: large;
    font-weight: 300;
    padding: 0 5px;
    line-height: 50px;
}
#function-name {
    cursor: pointer;
}
#function-name.blank {
    color: #a1afd0;
    padding: 0 3px;
}

/* Function switcher */
#switch-function-button {
    color: #a1afd0;
    font-size: medium;
    vertical-align: baseline;
    padding: 0 5px;
}
#switch-function-button:hover, #function-name:hover ~ #switch-function-button:not(.active) {
    color: #495a81;
    background-color: #a1afd0;
}
#switch-function-button:active, #switch-function-button.active {
    color: #495a81;
    background-color: #8c9dc5;
    box-shadow: inset 1px 1px 2px rgba(0,0,0,0.15);
}
#switch-function-title {
    background-color: #f2f2f2;
    padding: 5px 12px;
}
#switch-function-close {
    font-size: x-large;
    font-family: Arial, sans-serif;
    cursor: pointer;
}
#functions-filter {
    position: relative;
    width: calc(100% - 20px);
    margin: 10px;
}
#functions-filter-box {
    width: 100%;
    padding: 0 20px 0 30px;
}
#filter-icon {
    position: absolute;
    top: 8px;
    left: 8px;
}
#filter-icon::before {
    content: ' ';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('images/search.svg');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    line-height: 1;
}
#filter-clear {
    font-family: Arial, sans-serif;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}
#function-list {
    position: absolute;
    top: 37px;
    left: 100px;
    z-index: 800;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    display: none;
    min-width: 275px;
    max-width: 400px;
}
#function-list .option, #empty-list-message, #loading-message {
    padding: 10px 12px;
    font-size: small;
}
#function-list .option:hover, #function-list .option.focus {
    background-color: #eeeeee;
    cursor: pointer;
}
#function-list .option.create-new {
    color: #21d4ac;
    border-top: 1px solid #eee;
    max-width: 100%;
    cursor: default;
    white-space: normal;
}
#function-list .option.create-new:hover {
    background-color: transparent;
}
#function-list .option.create-new #new-name {
    font-weight: 500;
}
#function-list .option.create-new #create-new-buttons {
    display: inline-block;
}
#function-list .option.create-new #create-new-buttons > *:first-child {
    margin: 5px 10px;
}
#function-list .option.create-new #create-new-buttons button {
    cursor: pointer;
}
#function-list-items {
    max-height: 250px;
    overflow: auto;
}

/* Tabs headers */
#tabs {
    flex: 1 30%;
}
#tabs > ul {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}
#tabs > ul > li {
    color: #a1afd0;
    display: inline-block;
    padding: 15px 24px 0;
    font-size: large;
    font-weight: 300;
    cursor: pointer;
    height: 32px;
    border-bottom: 3px none transparent;
    box-sizing: content-box;
}
#tabs > ul > li:hover {
    color: #8c9dc5;
}
#tabs > ul > li:active {
    color: #ffffff;
}
#tabs > ul > li.active, #tabs > ul > li.active:hover {
    color: #ffffff;
    border-bottom: 3px solid #4dc4f3;
    cursor: default;
}

/* action buttons */
#buttons {
    flex: 0 auto;
    margin: 5px 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}
#buttons > button {
    font-size: 20px;
    padding: 5px 10px;
    margin-right: 10px;
}
#buttons > button:last-child {
    margin-right: 0;
}
#create-new-pop-up {
    position: absolute;
    top: 44px;
    right: 10px;
    z-index: 800;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 320px;
    display: none;
}
#create-new-form {
    padding: 10px 15px;
}
#create-new-form > * {
    margin: 0 4px;
}
#create-new-title {
    background-color: #f2f2f2;
    padding: 5px 12px;
}
#create-new-close {
    font-size: x-large;
    font-family: Arial, sans-serif;
    cursor: pointer;
}
#create-new-name {
    width: 120px;
}

/* Main section */
#main {
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 100%;
    padding: 0;
    margin: 0;
}

/* Tab contents */
#main > section {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    opacity: 0;
    z-index: 10;
    box-shadow: inset 2px 2px 5px rgba(0,0,0,0.15);
}
#main > section.active {
    opacity: 1;
    z-index: 20;
}

/* "Code" tab */
#code-tab {
}

/* Code editor section */
#editor-section {
    position: relative;
    width: 60%;
    height: 100%;
    display: inline-block;
}
#code-editor-drop-zone {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(200, 200, 200);
    outline: 3px dashed black;
    outline-offset: -10px;
    display: none;
}
#code-editor-drop-zone.dragover {
    display: block;
}
#code-editor-drop-zone.dragover::before {
    content: 'Drop files here';
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
}
#code-editor-drop-zone.dragover.allow::before {
    content: '\02713\A0\A0 Drop file here';
    color: #21d4ac;

}
#code-editor-drop-zone.dragover.deny::before {
    content: '\02717\A0\A0 Inapplicable file type';
    color: #e54158;
}
#code-editor {
    width: 100%;
    height: 100%;
}

/* "Invoke" section */
#invoke-section {
    position: relative;
    width: 40%;
    height: 100%;
    padding: 0;
}
#invoke-section-wrapper {
    width: 100%;
    height: 100%;
    padding: 10px 15px;
    overflow-x: hidden;
    overflow-y: scroll;
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;
    align-content: flex-start;
}
#invoke-section-wrapper > div {
    min-height: 35px;
}
#invoke-section-wrapper > div#input-body-editor {
    flex: 1 auto;
    display: block;
    width: 100%;
    min-height: 80px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#input-path {
    flex: 1 auto;
    margin: 0 5px;
}
#input-url {
    width: 33%;
    text-align: right;
}

/* Footer */
#footer {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
}

/* Log */
#log-section {
    position: relative;
    z-index: 50;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: #fff;
}
#log-header {
    position: fixed;
    padding: 10px 15px;
    width: 100%;
    background-color: inherit;
    z-index: 100;
}
#log-header h2 {
    font-size: medium;
    font-weight: 300;
}
#log {
    margin-top: 50px;
    padding: 5px 10px;
    font-family: monospace;
    font-size: small;
    white-space: pre-wrap;
}
#clear-log {
    font-size: small;
    background-color: hsla(250, 10%, 93%, 0.65);
    padding: 3px 10px;
    border-radius: 3px;
    margin-right: 10px;
}
#clear-log:hover {
    cursor: pointer;
    background-color: hsla(250, 10%, 90%, 0.8);
}
#log span[class^='level-'], #log-section span[class*=' level-'] {
    font-size: small;
}
#log .level-debug {
    color: #28afe4;
}
#log .level-info {
    color: #8c9dc5;
}
#log .level-warn {
    color: #f9794f;

}
#log .level-error {
    color: #e54158;
}
#log .download-link {
    font-family: 'Roboto', Arial, sans-serif;
}

/* "Configure" tab */
#configure-tab {
    overflow-y: scroll;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: stretch;
}
#configure-tab .block {
    flex: 1 100%;
}
@media all and (min-width: 800px) {
    #configure-tab .block {
        flex: 1 45%;
    }
}
#configure-tab h2 {
    font-size: medium;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px;
}
#configure-tab h2:first-of-type {
    margin-top: 0;
}
#enabled {
    margin: 10px 0 15px;
}
#commands-wrapper {
    margin-top: 10px;
}
#commands {
    width: 100%;
    height: 150px;
    resize: both;
    overflow: auto;
}

/* "Triggers" tab */
#triggers-tab {
    overflow-y: scroll;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
#triggers-tab .block {
    flex: 0 0 100%;
}
@media all and (min-width: 800px) {
    #triggers-tab .block {
        flex: 0 60%;
    }
}