/* Reset, normalize, basics */
html {
    height: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
*, *::before, *::after {
    -webkit-box-sizing: inherit;
       -moz-box-sizing: inherit;
            box-sizing: inherit;
}
body {
    margin: 0;
    height: 100%;
    background-color: #fff;
    font-size: 14px;
    font-family: 'Roboto', Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}
pre {
    margin: 0;
}
ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
}

/* Useful layout utilities */
.nowrap {
    white-space: nowrap;
}
.space-between {
    display: flex;
    flex-flow: row nowrap;
    align-content: flex-start;
    align-items: center;
    justify-content: space-between;
}
.text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* pane splitter */
.split {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    overflow-y: auto;
    overflow-x: hidden;
}
.gutter {
    background-color: #d2d2d2;
    background-repeat: no-repeat;
    background-position: 50%;
    z-index: 100;
}
.gutter:hover {
    background-color: #dbdbdb;
}
.gutter.gutter-vertical {
    cursor: row-resize;
}
.gutter.gutter-vertical:hover {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
}
.gutter.gutter-horizontal {
    cursor: col-resize;
}
.gutter.gutter-horizontal:hover {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}
.split.split-horizontal, .gutter.gutter-horizontal {
    height: 100%;
    float: left;
}
.collapse-handle {
    position: absolute;
    z-index: 900;
}
.collapse-handle.right {
    top: calc(50% - 10px);
    left: -1px;
}
.collapse-handle.right.collapsed {
    top: calc(50% - 10px);
    left: -10px;
}
.collapse-handle.left {
    top: calc(50% - 10px);
    right: 1px;
}
.collapse-handle.left.collapsed {
    top: calc(50% - 10px);
    right: 10px;
}
.collapse-handle.up {
    top: 5px;
    left: calc(50% - 10px);
}
.collapse-handle.up.collapsed {
    top: 15px;
    left: calc(50% - 10px);
}
.collapse-handle.down {
    top: -5px;
    left: calc(50% - 10px);
}
.collapse-handle.down.collapsed {
    top: -15px;
    left: calc(50% - 10px);
}
.collapse-handle::before {
    content: '';
    display: inline-block;
    color: #000;
    font-family: Arial, sans-serif;
    font-size: medium;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    background-color: #ccc;
    margin: 0;
    cursor: pointer;
}
.collapse-handle.right::before, .collapse-handle.left.collapsed::before {
    content: '\25B8';
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 0 2px 0 0;
}
.collapse-handle.left::before, .collapse-handle.right.collapsed::before {
    content: '\25C2';
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 0 0 0 2px;
}
.collapse-handle.up::before, .collapse-handle.down.collapsed::before {
    content: '\25B4';
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    padding: 0 2px 0 2px;
}
.collapse-handle.down::before, .collapse-handle.up.collapsed::before {
    content: '\25BE';
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 0 2px 0 2px;
}

/* Recurring components */
::-webkit-input-placeholder { /* Chrome */
    color: #ccc;
    font-weight: 300;
    transition: opacity 250ms ease-in-out;
}
:focus::-webkit-input-placeholder {
    opacity: 0.5;
    font-weight: 300;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #ccc;
    font-weight: 300;
    transition: opacity 250ms ease-in-out;
}
:focus:-ms-input-placeholder {
    opacity: 0.5;
    font-weight: 300;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #ccc;
    font-weight: 300;
    opacity: 1;
    transition: opacity 250ms ease-in-out;
}
:focus::-moz-placeholder {
    opacity: 0.5;
    font-weight: 300;
}
:-moz-placeholder { /* Firefox 4 - 18 */
    color: #ccc;
    font-weight: 300;
    opacity: 1;
    transition: opacity 250ms ease-in-out;
}
:focus:-moz-placeholder {
    opacity: 0.5;
    font-weight: 300;
}
.button {
    color: #fff;
    background-color: #28afe4;
    border: 1px solid #28afe4;
    border-radius: 4px;
    display: inline-block;
    padding: 4px 15px;
    margin-bottom: 0;
    font-family: inherit;
    font-size: small;
    font-weight: 300;
    line-height: 1.3;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    outline: 0;
}
.button:hover {
    color: #fff;
    background-color: #239bca;
    border-color: #269abc;
    text-decoration: none;
    outline: 0;
}
.button:active {
    color: #fff;
    background-color: #239bca;
    border-color: #269abc;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    outline: 0;
}
.button:focus {
    background-color: #28afe4;
    border-color: #1b6d85;
    outline: 0;
}
.button:disabled {
    border-color: #e1e0e5;
    color: rgba(85, 85, 153, 0.6);
    background-color: rgba(237, 236, 239, 0.6);
    cursor: not-allowed;
}
.button.only-text, .button.only-text:hover, .button.only-text:active, .button.only-text:focus,
.button.only-text:disabled {
    background-color: transparent;
    border: 0 none transparent;
    box-shadow: none;
    padding: 6px;
}
.button.only-text:hover {
    color: #c2c2c2;
}
.button.only-text:active {
    color: #a2a2a2;
}
.text-input {
    display: inline-block;
    width: 400px;
    height: 30px;
    padding: 5px 10px;
    font-family: inherit;
    font-size: small;
    font-weight: 300;
    line-height: 1.3;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.text-input:focus {
    border-color: #1b6d85;
    outline: 0;
}
.text-input:disabled {
    border-color: #e1e0e5;
    color: rgba(85, 85, 153, 0.6);
    background-color: rgba(237, 236, 239, 0.6);
    cursor: not-allowed;
}
.textarea {
    display: inline-block;
    padding: 3px 5px;
    font-family: monospace;
    font-size: small;
    line-height: 1.3;
    vertical-align: top;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    resize: none;
}
.textarea:focus {
    outline: 0;
}
.textarea:disabled {
    color: rgba(85, 85, 153, 0.6);
    background-color: rgba(237, 236, 239, 0.6);
    cursor: not-allowed;
}
.dropdown {
    display: inline-block;
    height: 30px;
    font-family: inherit;
    font-size: small;
    font-weight: 300;
    line-height: 1.3;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.dropdown:focus {
    border-color: #e1e0e5;
    outline: 0;
}
.dropdown:disabled {
    border-color: #e1e0e5;
    color: rgba(85, 85, 153, 0.6);
    background-color: rgba(237, 236, 239, 0.6);
    cursor: not-allowed;
}

/* Global container */
#container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
}

/* Toaster */
#toast {
    position: absolute;
    display: inline-block;
    padding: 7px 15px;
    top: 10px;
    right: 10px;
    border-radius: 3px;
}
#toast.success {
    background-color: hsla(115, 60%, 75%, 1);
    border: 2px solid hsla(115, 60%, 40%, 1);
    color: hsla(115, 60%, 40%, 1);
}

#toast.error {
    background-color: hsla(0, 60%, 70%, 1);
    border: 2px solid hsla(0, 60%, 40%, 1);
    color: hsla(0, 60%, 40%, 1);
}

/* Key-value pairs input */
.add-new-pair-form {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 5px;
}
.pair-list > li {
    font-size: small;
    white-space: nowrap;
    overflow: hidden;
}
.pair-list > .headers {
    font-weight: 500;
}
.pair-list > li:last-child {
    border-bottom: 0 none transparent;
}
.add-pair-button, .remove-pair-button {
    background-color: transparent;
    border: 0 none transparent;
    opacity: .5;
    cursor: pointer;
    padding: 5px 20px;
    vertical-align: middle;
    font-size: large;
}
.add-pair-button:focus, .remove-pair-button:focus, .add-pair-button:hover, .remove-pair-button:hover {
    outline: 0;
    opacity: 1;
}
.remove-pair-button {
    color: #e54158;
}
.add-pair-button {
    color: #33a329;
    position: relative;
    top: -3px;
}
.new-key, .new-value {
    width: 40%;
    margin-right: 15px;
    vertical-align: middle;
}
.pair-key, .pair-value {
    display: inline-block;
    width: 40%;
    margin-right: 15px;
    padding-left: 3px;
    text-align: left;
    vertical-align: middle;
}
.pairList {
    margin: 5px 0;
}

/* Header */
#header {
    background: #101833; /* Old browsers */
    /*background: -moz-linear-gradient(left, #101833 0%, #495a81 100%); !* FF3.6-15 *!*/
    /*background: -webkit-linear-gradient(left, #101833 0%,#495a81 100%); !* Chrome10-25,Safari5.1-6 *!*/
    /*background: linear-gradient(to right, #101833 0%,#495a81 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#101833', endColorstr='#495a81',GradientType=1 ); !* IE6-9 *!*/
    padding: 10px 20px;
    margin: 0;
    height: 100px;
    line-height: 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
#logo {
    flex: 0 auto;
    background-image: url('images/nuclio-logo-white-text.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 175px;
    margin-right: 15px;
}
#header h1 {
    flex: 0 auto;
    letter-spacing: 3px;
    font-weight: 300;
    font-size: xx-large;
    color: #f3f3f6;
    display: inline-block;
    margin-right: 15px;
}

/* Top bar */
#switch-function-title {
    background-color: #f2f2f2;
    padding: 5px 12px;
}
#switch-function-close {
    font-size: x-large;
    font-family: Arial, sans-serif;
    cursor: pointer;
}
#functions-filter {
    position: relative;
    width: calc(100% - 20px);
    margin: 10px;
}
#functions-filter-box {
    width: 100%;
    padding: 0 20px 0 30px;
}
#filter-icon {
    position: absolute;
    top: 8px;
    left: 8px;
}
#filter-icon::before {
    content: ' ';
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('images/search.svg');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    line-height: 1;
}
#filter-clear {
    font-family: Arial, sans-serif;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}
#function-list {
    position: absolute;
    top: 37px;
    left: 100px;
    z-index: 800;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    display: none;
    min-width: 275px;
    max-width: 350px;
}
#function-list .option, #empty-list-message, #loading-message {
    padding: 10px 12px;
    font-size: small;
}
#function-list .option:hover {
    background-color: #eeeeee;
    cursor: pointer;
}
#function-list .option.create-new {
    color: #21d4ac;
    border-top: 1px solid #eee;
    max-width: 100%;
}
#function-list .option.create-new:hover {
    background-color: #bdf5e9;
}
#function-list .option.create-new #new-name {
    font-weight: 500;
}
#function-list-items {
    max-height: 105px;
    overflow: auto;
}

#save-function {
    margin: 0 20px;
}

#create-new-function {
    color: #fff;
    background-color: #21d4ac;
    border-color: #21d4ac;
}
#create-new-function:hover {
    background-color: #1db390;
    border-color: #1db390;
}
#create-new-function:focus {
    background-color: #21d4ac;
    border-color: #18997b;
}
#create-new-function:active {
    border-color: #21d4ac;
}

/* Main section */
#main {
    position: absolute;
    top: 100px;
    bottom: 0;
    width: 100%;
    padding: 0;
    margin: 0;
}

/* Tabs */
#tabs {
    background-color: #495a81;
    height: 50px;
    position: relative;
    box-shadow: inset 2px 2px 5px rgba(0,0,0,0.15);
}

#tabs h2 {
    display: inline-block;
    color: #f2f2f2;
    font-size: large;
    font-weight: 300;
    padding: 0 5px 0 15px;
}
#tabs a {
    text-decoration: none;
    color: #f2f2f2;
    font-size: x-small;
}
#tabs a:hover {
    color: #c2c2c2;
}
#tabs a:active {
    color: #a2a2a2;
}
#tabs > ul {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
#tabs > ul > li {
    color: #a1afd0;
    display: inline-block;
    padding: 15px 24px 0;
    font-size: medium;
    font-weight: 300;
    cursor: pointer;
    height: 32px;
    border-bottom: 3px none transparent;
    box-sizing: content-box;
}
#tabs > ul > li:hover {
    color: #8c9dc5;
}
#tabs > ul > li:active {
    color: #ffffff;
}
#tabs > ul > li.active, #tabs > ul > li.active:hover {
    color: #ffffff;
    border-bottom: 3px solid #4dc4f3;
    cursor: default;
}
#tabs ~ section {
    position: absolute;
    top: 50px;
    width: 100%;
    height: calc(100% - 50px);
    background-color: #f2f2f2;
    opacity: 0;
    z-index: 10;
    box-shadow: inset 2px 2px 5px rgba(0,0,0,0.15);
}
#tabs ~ section.active {
    opacity: 1;
    z-index: 20;
}
#function-name {
    cursor: pointer;
}
#function-name.blank {
    color: #a1afd0;
    padding: 0 3px;
}
#switch-function-button {
    color: #a1afd0;
    font-size: medium;
    vertical-align: baseline;
    padding: 0 5px;
}
#switch-function-button:hover, #function-name:hover ~ #switch-function-button:not(.active) {
    color: #495a81;
    background-color: #a1afd0;
}
#switch-function-button:active, #switch-function-button.active {
    color: #495a81;
    background-color: #8c9dc5;
    box-shadow: inset 1px 1px 2px rgba(0,0,0,0.15);
}

#buttons {
    margin: 5px 10px;
}

/* "Code" tab */
#code-tab {
}

/* Code editor section */
#editor-section {
    width: 60%;
    height: 100%;
    display: inline-block;
}
#code-editor {
    width: 100%;
    height: 100%;
}

/* "Invoke" section */
#invoke-section {
    position: relative;
    width: 40%;
    height: 100%;
    padding: 0;
}
#invoke-section-wrapper {
    width: 100%;
    height: 100%;
    padding: 10px 15px;
    overflow-x: hidden;
    overflow-y: scroll;
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;
    align-content: flex-start;
}
#invoke-section-wrapper > div {
    min-height: 35px;
}
#invoke-section-wrapper > div#input-body-editor {
    display: block;
    width: 100%;
    min-height: 80px;
    flex: 1 auto;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#input-path {
    flex: 1 auto;
    margin: 0 5px;
}
#input-url {
    width: 33%;
    text-align: right;
}

/* Footer */
#footer {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
}

/* Log */
#log-section {
    position: relative;
    z-index: 500;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: #fff;
}
#log-header {
    position: fixed;
    padding: 10px 15px;
    width: 100%;
    background-color: inherit;
    z-index: 100;
}
#log-header h2 {
    font-size: medium;
    font-weight: 300;
}
#log {
    margin-top: 50px;
    padding: 5px 10px;
    font-family: monospace;
    font-size: small;
}
#clear-log {
    font-size: small;
    background-color: hsla(250, 10%, 93%, 0.65);
    padding: 3px 10px;
    border-radius: 3px;
    margin-right: 10px;
}
#clear-log:hover {
    cursor: pointer;
    background-color: hsla(250, 10%, 90%, 0.8);
}
#log span[class^='level-'], #log-section span[class*=' level-'] {
    font-size: small;
}
#log .level-debug {
    color: #28afe4;
}
#log .level-info {
    color: #8c9dc5;
}
#log .level-warn {
    color: #f9794f;

}
#log .level-error {
    color: #e54158;
}

/* "Configure" tab */
#configure-tab {
    overflow-y: scroll;
    padding: 10px 20%;
}
#configure-tab h2 {
    font-size: medium;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 10px;
}
#configure-tab h2:first-of-type {
    margin-top: 0;
}
#enabled {
    margin: 10px 0;
}
#data-bindings-editor {
    min-height: 60px;
}
#commands-wrapper {
    margin-top: 10px;
}
#commands {
    width: 300px;
    height: 100px;
}

/* "Triggers" tab */
#triggers-tab {
    overflow-y: scroll;
    padding: 10px 20%;
}
#triggers-editor {
    min-height: 60px;
}