<div class="validating-input-field"
     data-ng-class="{'focused': $ctrl.inputFocused, 'with-counter': $ctrl.validationMaxLength && $ctrl.isCounterVisible()}">
    <div data-ng-if="$ctrl.fieldType === 'input'">
        <div class="input-counter"
             data-ng-class="{'invalid': $ctrl.getRemainingSymbolsCounter() < 0}"
             data-ng-if="!$ctrl.onlyValidCharacters || $ctrl.isCounterVisible()">{{$ctrl.getRemainingSymbolsCounter()}}
        </div>
        <div data-ng-hide="$ctrl.inputFocused || $ctrl.formObject[$ctrl.inputName].$viewValue"
             class="input-placeholder" data-ng-class="{'with-icon': $ctrl.inputIcon}">{{$ctrl.placeholderText}}
        </div>
        <input class="input-field field" tabindex="0"
               data-ng-class="{'invalid': $ctrl.isFieldInvalid(),
                               'with-icon': $ctrl.inputIcon}"
               name="{{$ctrl.inputName}}"
               data-ng-readonly="$ctrl.readOnly"
               data-ng-model="$ctrl.data"
               data-ng-model-options="$ctrl.inputModelOptions"
               data-ng-required="$ctrl.validationIsRequired === 'true'"
               data-ng-maxlength="$ctrl.validationMaxLength"
               data-ng-pattern="$ctrl.validationPattern"
               data-ng-focus="$ctrl.focusInput()"
               data-ng-blur="$ctrl.unfocusInput()"
               data-ng-change="$ctrl.updateInputValue()"
               data-ng-disabled="$ctrl.isDisabled"
               data-ng-keydown="$ctrl.keyDown($event)"
               data-igz-input-only-valid-characters="$ctrl.validationPattern"
               data-only-valid-characters="{{$ctrl.onlyValidCharacters}}"
               spellcheck="{{$ctrl.spellcheck}}"
               maxlength="{{$ctrl.onlyValidCharacters ? $ctrl.validationMaxLength : null}}"
               data-igz-input-blur-on-enter>

        <span data-ng-if="$ctrl.inputIcon" class="input-icon {{$ctrl.inputIcon}}"></span>
        <span class="clear-button igz-icon-close"
              data-ng-show="$ctrl.data && $ctrl.isClearIcon"
              data-ng-click="$ctrl.clearInputField()">
        </span>
    </div>

    <div data-ng-if="$ctrl.fieldType === 'textarea'">
        <div class="textarea-counter"
             data-ng-class="{'invalid': $ctrl.getRemainingSymbolsCounter() < 0}"
             data-ng-if="!$ctrl.onlyValidCharacters || $ctrl.isCounterVisible()">{{$ctrl.getRemainingSymbolsCounter()}}
        </div>
        <div data-ng-hide="$ctrl.inputFocused || $ctrl.formObject[$ctrl.inputName].$viewValue"
             class="textarea-placeholder">{{$ctrl.placeholderText}}
        </div>
        <textarea class="textarea-field field" tabindex="0"
                  data-ng-class="{'invalid': $ctrl.isFieldInvalid()}"
                  name="{{$ctrl.inputName}}"
                  data-ng-model="$ctrl.data"
                  data-ng-required="$ctrl.validationIsRequired === 'true'"
                  data-ng-maxlength="$ctrl.validationMaxLength"
                  data-ng-pattern="$ctrl.validationPattern"
                  data-ng-focus="$ctrl.focusInput()"
                  data-ng-blur="$ctrl.unfocusInput()"
                  data-ng-change="$ctrl.updateInputValue()"
                  spellcheck="{{$ctrl.spellcheck}}"
                  data-igz-input-blur-on-enter></textarea>
    </div>

    <div data-ng-if="$ctrl.fieldType === 'password'">
        <div data-ng-hide="$ctrl.inputFocused || $ctrl.formObject[$ctrl.inputName].$viewValue"
             class="input-placeholder">{{$ctrl.placeholderText}}
        </div>
        <input class="input-field field" tabindex="0"
               data-igz-validate-password-confirmation="$ctrl.compareInputValue"
               type="password"
               name="{{$ctrl.inputName}}"
               data-ng-model="$ctrl.data"
               data-ng-model-options="$ctrl.inputModelOptions"
               data-ng-required="$ctrl.validationIsRequired === 'true'"
               data-ng-maxlength="$ctrl.validationMaxLength"
               data-ng-pattern="$ctrl.validationPattern"
               data-ng-focus="$ctrl.focusInput()"
               data-ng-blur="$ctrl.unfocusInput()"
               data-ng-change="$ctrl.updateInputValue()"
               data-igz-input-blur-on-enter>
    </div>
</div>