<div class="ncl-version-configuration-runtime-attributes">
    <div class="title">Runtime Attributes</div>
    <form name="$ctrl.runtimeAttributesForm" class="runtime-attributes-wrapper">
        <div class="row">
            <div class="runtime-dropdown">
                <span class="label">Runtime</span>
                <igz-default-dropdown data-select-property-only="id"
                                      data-values-array="$ctrl.runtimes"
                                      data-selected-item="$ctrl.data.runtime"
                                      data-item-select-callback="$ctrl.onDropdownDataChange(item, isItemChanged, field)"
                                      data-item-select-field="runtime"
                                      data-form-object="$ctrl.runtimeAttributesForm"
                                      data-input-name="runtime"
                                      data-placeholder="Select type"></igz-default-dropdown>
            </div>
            <div class="arguments-input">
                <span class="label">Arguments</span>
                <igz-validating-input-field data-field-type="input"
                                            data-input-name="arguments"
                                            data-input-value="$ctrl.data.arguments"
                                            data-update-data-callback="$ctrl.inputValueCallback(newData, field)"
                                            data-update-data-field="arguments"
                                            data-form-object="$ctrl.runtimeAttributesForm"
                                            data-placeholder-text="Type..."></igz-validating-input-field>
            </div>
        </div>
        <div class="row key-value-row">
            <span class="label">Response headers</span>
            <div class="table-headers">
                <div class="key-header">Key</div>
                <div class="value-header">Value</div>
            </div>
            <div class="igz-scrollable-container"
                 data-ng-scrollbars
                 data-ng-scrollbars-config="$ctrl.scrollConfig">
                <div class="table-body" data-ng-repeat="attribute in $ctrl.attributes">
                    <ncl-key-value-input class="new-label-input"
                                         data-row-data="attribute"
                                         data-use-type="false"
                                         data-action-handler-callback="$ctrl.handleAction(actionType, checkedItem)"
                                         data-change-data-callback="$ctrl.onChangeData(newData)"></ncl-key-value-input>
                </div>
            </div>
            <div class="create-label-button"
                 data-ng-click="$ctrl.addNewAttribute()">
                <span class="igz-icon-add-round"></span>
                Create a new runtime attribute
            </div>
        </div>
    </form>
</div>