<ncl-functions data-create-function="$ctrl.createFunction(version, projectId)"
               data-delete-function="$ctrl.deleteFunction(functionData, ignoreValidation)"
               data-get-functions="$ctrl.getFunctions(id, enrichApiGateways)"
               data-get-function="$ctrl.getFunction(metadata, enrichApiGateways)"
               data-get-statistics="$ctrl.getStatistics()"
               data-project="$ctrl.project"
               data-update-function="$ctrl.updateFunction(function, projectId)">
</ncl-functions>
