<div class="ncl-function-collapsing-row items-wrapper">
    <div class="scrolling-row"></div>
    <div class="function-title-block common-table-row">
        <div class="common-table-cell function-row-collapse">
            <span data-ng-if="$ctrl.function.spec.version > -1"
                  class="collapse-icon"
                  data-ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed"
                  data-ng-class="{'collapsed igz-icon-right': $ctrl.isCollapsed, 'igz-icon-down': !$ctrl.isCollapsed}"></span>
        </div>

        <div class="igz-row common-table-cells-container">
            <div class="igz-col-25 common-table-cell function-name">
                {{$ctrl.function.metadata.name}}
            </div>
            <div class="igz-col-25 common-table-cell">
                {{$ctrl.function.spec.description}}
            </div>
            <div class="igz-col-10 common-table-cell">
                {{$ctrl.function.status.state}}
            </div>
            <div class="igz-col-10 common-table-cell">
                {{$ctrl.function.spec.replicas}}
            </div>
            <div class="igz-col-10 common-table-cell">
                {{$ctrl.function.spec.invocation || 0}}
            </div>
            <div class="igz-col-10 common-table-cell">
                {{$ctrl.function.spec.runtime}}
            </div>
            <div class="igz-col-10 common-table-cell">
                {{$ctrl.function.attr.last_modified | date:"MMM dd, yyyy"}}
            </div>
        </div>

        <div class="common-table-cell actions-menu">
            <igz-action-menu data-actions="$ctrl.actions"
                             data-on-fire-action="$ctrl.onFireAction">
            </igz-action-menu>
        </div>
    </div>
    <div class="items-wrapper" data-ui-sortable="$ctrl.sortableConfig" data-ng-model="$ctrl.layer.ui.children"
         data-collapse="$ctrl.isCollapsed">
        <div data-ng-repeat="version in $ctrl.function.versions">
            <ncl-function-version-row class="function-version-wrapper"
                                      data-version="version"
                                      data-function="$ctrl.function"
                                      data-project="$ctrl.project"
                                      data-versions-list="$ctrl.function.attr.versions"
                                      data-action-handler-callback="$ctrl.handleAction(actionType, checkedItems)">
            </ncl-function-version-row>
        </div>
    </div>
</div>