name: Nuclio CI

on:
  pull_request:
    branches:
      - development
      - 1.1.x
      - 1.3.x

env:
  REPO: docker.pkg.github.com
  REPO_OWNER: ${{ github.event.repository.owner.login }}
  REPO_NAME: nuclio
  NUCLIO_LABEL: ${{ github.sha }}
  FUNCTION_NAME: test-function
  NAMESPACE: nuclio
  NUCLIO_NUCTL_CREATE_SYMLINK: false

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-go@v2-beta
        with:
          go-version: '^1.14.0'

      - uses: actions/cache@v1
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Lint
        run: make lint

  short_test:
    name: Short test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-go@v2-beta
        with:
          go-version: '^1.14.0'

      - uses: actions/cache@v1
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Run short test suites
        run: make test-short

  build_nuctl:
    name: Build nuctl
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-go@v2-beta
        with:
          go-version: '^1.14.0'

      - name: Build
        run: |
          make nuctl
          sudo mv $(go env GOPATH)/bin/nuctl-${NUCLIO_LABEL}-linux-amd64 nuctl
          sudo chmod +x nuctl
          ./nuctl version

      - uses: actions/upload-artifact@v1
        with:
          name: nuctl-bin
          path: nuctl

  build_docker_images:
    name: Build nuclio docker images
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Build
        run: |
          make controller dashboard handler-builder-golang-onbuild
        env:
          NUCLIO_DOCKER_REPO: ${{ env.REPO }}/${{ env.REPO_OWNER }}/${{ env.REPO_NAME }}

      - name: Save
        run: |
          docker save \
            ${REPO}/${REPO_OWNER}/${REPO_NAME}/dashboard:${NUCLIO_LABEL}-amd64 \
            ${REPO}/${REPO_OWNER}/${REPO_NAME}/controller:${NUCLIO_LABEL}-amd64 \
            ${REPO}/${REPO_OWNER}/${REPO_NAME}/handler-builder-golang-onbuild:${NUCLIO_LABEL}-amd64-alpine \
            | gzip > nuclio_docker_images.tar.gz

      - name: Upload
        uses: actions/upload-artifact@v1
        with:
          name: nuclio-docker-images
          path: nuclio_docker_images.tar.gz

  nuctl_deploy_invoke:
    name: Deploy and invoke function using nuctl
    runs-on: ubuntu-latest
    needs:
      - build_docker_images
      - build_nuctl
    steps:

      - uses: actions/checkout@v2

      - uses: azure/setup-helm@v1
        with:
          version: 'v3.1.2'

      - uses: manusa/actions-setup-minikube@v1.0.1
        with:
          minikube version: 'v1.9.0'
          kubernetes version: 'v1.17.3'
          github token: ${{ github.token }}

      - name: Fetch nuctl binary
        uses: actions/download-artifact@v1
        with:
          name: nuctl-bin

      - name: Fetch nuclio docker images
        uses: actions/download-artifact@v1
        with:
          name: nuclio-docker-images

      - name: Prepare k8s cluster
        run: |
          mv ./nuctl-bin/nuctl . && chmod +x nuctl
          kubectl create namespace ${NAMESPACE}
          docker run -d -p 5000:5000 registry:2
          docker load -i nuclio-docker-images/nuclio_docker_images.tar.gz

      - name: Helm install nuclio
        run: |
          cat << EOF | helm install --debug --wait --namespace ${NAMESPACE} -f - nuclio hack/k8s/helm/nuclio/
          controller:
            image:
              tag: ${NUCLIO_LABEL}-amd64
              repository: ${REPO}/${REPO_OWNER}/${REPO_NAME}/controller
              pullPolicy: Never
          dashboard:
            image:
              tag: ${NUCLIO_LABEL}-amd64
              repository: ${REPO}/${REPO_OWNER}/${REPO_NAME}/dashboard
              pullPolicy: Never
          registry:
            defaultOnbuildRegistryURL: ${REPO}/${REPO_OWNER}/${REPO_NAME}
          EOF

      - name: Deploy function
        run: |
          ./nuctl \
            --verbose \
            deploy ${FUNCTION_NAME} \
            --path https://raw.githubusercontent.com/nuclio/nuclio/master/hack/examples/golang/helloworld/helloworld.go \
            --registry localhost:5000 \
            --run-registry localhost:5000 \
            --namespace ${NAMESPACE} \
            --no-pull
        env:
          NUCLIO_DASHBOARD_DEFAULT_ONBUILD_REGISTRY_URL: ${{ env.REPO }}/${{ env.REPO_OWNER }}

      - name: Invoke function
        run: |
          ./nuctl \
            --verbose \
            invoke ${FUNCTION_NAME} \
            --namespace ${NAMESPACE}
