name: Periodic

on:
  schedule:
  - cron:  '0 */12 * * *'

jobs:
  build:
    name: Periodic Regression
    runs-on: ubuntu-latest

    # let's not run this on every fork
    if: github.repository.fork == false || github.repository.owner.name == 'omesser'

    steps:
    - name: Dump github context
      run: echo "$GITHUB_CONTEXT"
      env:
        GITHUB_CONTEXT: ${{ toJson(github) }}

    - name: Dump runner context
      run: echo "$RUNNER_CONTEXT"
      env:
        RUNNER_CONTEXT: ${{ toJson(runner) }}

    - uses: actions/checkout@v2

    # since github-actions gives us 14G only, and fills it up with some garbage
    # we will free up some space for us (~2GB)
    - name: Freeing up disk space
      run: docker system prune --all --force

    - name: Build
      run: make build
      env:
        NUCLIO_NUCTL_CREATE_SYMLINK: false

    - name: Test periodic
      run: make test-periodic
