name: Release

on:
  release:
    types:
    - created

env:
  REPO: quay.io
  REPO_NAME: nuclio
  GO_VERSION: 1.12.x
  GO111MODULE: off
  GOPATH: /home/runner/work/nuclio/nuclio/go

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest

    if: github.repository == 'nuclio/nuclio'
    steps:
    - name: Dump github context
      run: echo "$GITHUB_CONTEXT"
      env:
        GITHUB_CONTEXT: ${{ toJson(github) }}

    - name: Dump runner context
      run: echo "$RUNNER_CONTEXT"
      env:
        RUNNER_CONTEXT: ${{ toJson(runner) }}

    - name: Dump github ref
      run: echo "$GITHUB_REF"

    - name: Set NUCLIO_LABEL to release tag
      run: |
        echo "NUCLIO_LABEL=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

    - uses: actions/checkout@v2

    - uses: actions/setup-go@v2
      with:
        go-version: ${{ env.GO_VERSION }}

    # since github-actions gives us 14G only, and fill it up with some garbage
    # we will free up some space for us (~2GB)
    - name: Freeing some disk space
      run: |
        sudo swapoff -a
        sudo rm -f /swapfile
        sudo apt clean
        docker rmi $(docker image ls -aq)
        df -h

    - uses: azure/docker-login@v1
      with:
        login-server: ${{ env.REPO }}
        username: ${{ secrets.QUAYIO_DOCKER_USERNAME }}
        password: ${{ secrets.QUAYIO_DOCKER_PASSWORD }}

    - name: Build
      run: make docker-images
      env:
        NUCLIO_DOCKER_REPO: ${{ env.REPO }}/${{ env.REPO_NAME }}

    - name: Push images
      run: |
        make push-docker-images
      env:
        NUCLIO_DOCKER_REPO: ${{ env.REPO }}/${{ env.REPO_NAME }}

    - name: Build binaries
      run: |
        NUCLIO_OS=linux NUCLIO_ARCH=amd64 make tools
        NUCLIO_OS=darwin NUCLIO_ARCH=amd64 make tools
        NUCLIO_OS=windows NUCLIO_ARCH=amd64 make tools
      env:
        NUCLIO_NUCTL_CREATE_SYMLINK: false

    - name: Upload binaries
      uses: AButler/upload-release-assets@v2.0
      with:
        files: '/home/runner/work/nuclio/nuclio/go/bin/nuctl-*'
        repo-token: ${{ secrets.GITHUB_TOKEN }}
