<ncl-api-gateways data-create-api-gateway="$ctrl.createApiGateway(apiGateway, projectName)"
                  data-delete-api-gateway="$ctrl.deleteApiGateway(apiGateway)"
                  data-get-api-gateway="$ctrl.getApiGateway(projectName, apiGatewayName)"
                  data-get-api-gateways="$ctrl.getApiGateways(projectName)"
                  data-get-functions="$ctrl.getFunctions(projectName, enrichApiGateways)"
                  data-project="$ctrl.project"
                  data-update-api-gateway="$ctrl.updateApiGateway(apiGateway, projectName)">
</ncl-api-gateways>
